/**
 * $c_main: #666;
 */

// Black Pattern
$c_black: #2b2c30;
$c_black_light: #141619;

// Glay Pattern
$c_glay: #999;
$c_light_glay: #eef0f2;

// Blue Pattern
$c_blue: #00c2ff;
$c_blue_dark: #264960;

// Red Pattern
$c_red: #e93256;

// Official Color
$c_official_twitter: #55acee;
$c_official_facebook: #3b5998;
$c_official_hatena: #00a4de;
$c_official_github: #4183c4;
$c_official_rss: #f26522;
$c_official_pocket: #ef3f56;
$c_official_google_plus: #dd4b39;
$c_official_feedly: #6cc655;
$c_official_instagram: #3f729b;
$c_official_pinterest: #cb2027;
$c_official_flickr: #ff0084;
$c_official_youtube: #cd201f;